body, html {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  background: #333;
  color: #aaa;
  margin: 0;

}



.bgimg {
  background-image: url('https://unsplash.it/1920/1080/?grayscale');
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  /* color: #1805db; */
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

.middle {
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;

  z-index: 2;
  width: 80%;
  padding: 20px;





  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}